<!DOCTYPE html>
<html>
  <head>
    <title>My personal internet phone</title>
    <script type="text/javascript"
      src="//static.twilio.com/libs/twiliojs/1.1/twilio.min.js"></script>
    <script type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script type="text/javascript">
  
    /* Create the Client with a Capability Token */
    Twilio.Device.setup("<%= @token %>", {debug: true});
 
    /* Let us know when the client is ready. */
    Twilio.Device.ready(function (device) {
        $("#log").text("Ready");
    });
 
    /* Report any errors on the screen */
    Twilio.Device.error(function (error) {
        $("#log").text("Error: " + error.message);
    });
 
    Twilio.Device.connect(function (conn) {
        $("#log").text("Successfully established call");
    });

    /* Log a message when a call disconnects. */
    Twilio.Device.disconnect(function (conn) {
        $("#log").text("Call ended");
    });

    /* A function to end a connection to Twilio. */
    function hangup() {
        Twilio.Device.disconnectAll();
    }

    /* Listen for incoming connections */
    Twilio.Device.incoming(function (conn) {
      $("#log").text("Incoming connection from " + conn.parameters.From);
      // accept the incoming connection and start two-way audio
      conn.accept();
      $("#log").text("Now talking!");
    });
 
    /* Connect to Twilio when we call this function. */
    function call() {
      // get the phone number to connect the call to
      params = {"PhoneNumber": $("#number").val()};
      Twilio.Device.connect(params);
    }

    function hangup() {
        Twilio.Device.disconnectAll();
    }
    </script>
  </head>


  <body>
    <div class="banner">
      <h1 class="banner-head">Call someone you love</h1>
    </div>
    <div class="outer-box">
      <div id="phone-dial">
          Dial <input type="text" id="number" name="number" placeholder="1-267-234-1111"/>
      </div>
      <div id="call-buttons">
        <button class="pure-button" onclick="call();">
          Call
        </button>
        <button class="pure-button" onclick="hangup();">
          Hang up
        </button>
        <div id="log">Status: The internet phone is getting ready..</div>
        <div id="my-number">This internet phone's number: (470) 235-4516</div>
      </div>
    </div>
  </body>
</html>